on property:sys.boot_completed=1
    # Enable Spectrum support
    setprop spectrum.support 1
    # Set kernel name
    setprop persist.spectrum.kernel WhitePugKernel
    setprop spectrum.disabledprofiles gaming,balance

on property:persist.spectrum.profile=1
    write /sys/module/profiles_manager/parameters/kpm_profile 2

    # Change to a governor that doesn't use KPM
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "ondemand"
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor "ondemand"

    # Use proper governor for this profile
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor "interactive"

on property:persist.spectrum.profile=2
    write /sys/module/profiles_manager/parameters/kpm_profile 1

    # Change to a governor that doesn't use KPM
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "ondemand"
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor "ondemand"

    # Use proper governor for this profile
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor "interactive"
